/* Global Styles 
============== */

*, *:before, *:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
body { 
	font-family: 'Raleway';
	color: rgb(65,65,65) ;
}
p, button { font-family: 'Lato'; }
.container { 
	width: 70%; 
	margin: 0 auto;
}
.column { float: left; width: 33.33%;}
.step-bar { 
	text-align: center; 
	background-color: rgb(70,136,70);
	color: white;
	font-weight: 700;
	padding-top: .6rem;
	font-size: 2rem;
	height: 4.0625rem;
}
.horizontal-rule { border-top: 1px solid black; }

/* Clearfix 
============ */
.clearfix:before, .clearfix:after {
	content: " ";
	display: table;
} .clearfix:after { clear:both; }




/*====================
======================*/


/* Header 
============ */
header { padding: .8rem 5%; height: 48px; }
.logo { float:left; }
.help { float:right; }

/* Footer
============ */
footer { 
	margin-top: 3.75rem;
	text-align: center; 
	position: relative;
	clear: both;
}
.disclaimer span { 
	width: 100%;
	color: white;
	position: absolute;
	bottom: 0;
	display: block;
	background-color: rgb(70,136,70);
	padding: 1rem;
	height: 55px;
}

/* Steps
=============== */
.address,
.payment,
.review {
	margin-bottom: -99999px;
	padding-bottom: 99999px;
	overflow: hidden;
	background: url('../images/furley_bg.png') repeat;
}
.icon { 
	display: block; 
	text-align: center; 
	margin-top: 1rem;
}
h2 { 
	font-size: 1.1rem; 
	text-align: center; 
}
input {
	font-family: 'Lato';
	margin: .6rem 0;
	border: 1px solid gray;
	border-radius: 5px;
	padding: .5rem;
}
input:focus {
	border: 2px solid rgb(70,136,70);
	/*box-shadow: none;*/
	outline: none;
}
input:focus::-webkit-input-placeholder {
	color: #333;
}
.input-half { width: 45%; }
.input-third { width: 33.3%; }
.input-full { width: 100%; }
.pull-right { float: right; }
button { 
	padding: .8rem 4rem; 
	margin: 0 auto; 
	border-radius: 5px;
	display: inline-block;
	outline: none;
	border: none;
	color: white;
	font-size: 1.35rem;
	letter-spacing: 1px;
	font-weight: 700;
	position: relative;
	left: 10%;
	overflow: none;
	background-color: rgba(255,142,36,1.0);
	margin: .8rem 0 3.75rem 0;
}

/* Steps - Address */

.address button {
	margin-bottom: 7rem;
}


/* Steps - Payment */

.credit-card {
	background-color: rgb(183,183,183);
	border-radius: 5px;
	padding-top: 1rem;
}
#credit-card-strip {
	border: 15px solid #222;
}

/* Steps - Review */

.edit-option { 
	display: none;
	margin: 0; 
	font-size: 1rem; 
}
.button-order { 
	margin-bottom: .5rem;
}
.review p.disclaimer { 
	font-size: .8rem; 
	text-align: center;
}








